*{
    margin:0;
    padding:0;
    list-style: none;

}
body{
    background-color: #ffffff;
}

header{
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    background-color: lightgray;
    width: 70%;
    height: 90px;
    border-bottom: 1px black solid  ;
}
header h1{
    padding-right: 5%;
    text-align: right;
    padding-top: 30px;
}
section{
    font-family: 'Dosis', sans-serif;
    display: block;
    text-align: center;
    padding: 80px 0 0 0;
    height: 800px;
    width: 70%;
    background-color: gray;
    margin-left: 15%;
    margin-right: 15%;
    overflow: auto;
}

section footer{
    margin-top: 50px;
}

#nueva-planta{

}
.forma{
    width: 100%;
    margin-right: 30px;
    text-align: center;
    margin-bottom: 25px;
}
.subir_foto{
    display:inline-block;
    width:100%;
    text-align: center;
    margin-top: 50px;
}
input{
    font-family: 'Dosis', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border-color: black;
    height: 30px;
    width: 33%;
    text-align: center;
}
input[type="submit"]{
    width: 100px;
    border-radius: 5px;
}
input[type="file"]{
    float:left;
    margin-left:10%;
}
label{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}
label[for="sEtapa"]{
    font-size: 14px;
}
label[for="foto"]{
    width:100%;
    display:block;
    margin-bottom: 25px;
    float:left;
    text-decoration: underline;
}
select{
    text-align: center;
    padding: 5px;
    font-family: 'Dosis', sans-serif;
    float: right;
}
#sEtapa{
    margin-right:15%;
}
#cancel{
    width: 100px;
    border-radius: 5px;
    height: 30px;
    border-color: black;
}

#pie{
    text-align: right;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 40px;
    font-family: 'Dosis', sans-serif;
    padding-top:13px;
}